#DB
MONGO_URI=mongodb://admin:secret@localhost:27019/stansburyswim?authSource=admin
#JWT
JWT_VERIFICATION_TOKEN_SECRET=
JWT_VERIFICATION_TOKEN_EXPIRATION_TIME=1h
JWT_ACCESS_TOKEN_AUDIENCE=stansburyswim.local

JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_TIME=1d

#EMAIL
EMAIL_RESET_PASSWORD_URL=http://localhost:3000/reset-password
SENDGRID_API_KEY=
