#DB
MONGO_URI=

#JWT
JWT_VERIFICATION_TOKEN_SECRET=
JWT_VERIFICATION_TOKEN_EXPIRATION_TIME=1h
JWT_ACCESS_TOKEN_AUDIENCE=stansburyswim.local
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_TIME=1d

#EMAIL
EMAIL_RESET_PASSWORD_URL=http://localhost:3000/reset-password
SENDGRID_API_KEY=

#PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_ENVIRONMENT=sandbox

#Next JS
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_PAYPAL_CLIENT_ID=

#Google
GOOGLE_APPLICATION_CREDENTIALS=google-credentials.json
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

#OneSignal
ONE_SIGNAL_API_KEY=
